<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Statement Warehouse API!</h1>
                <h2>Providing  Access to Statment Information</h2>
            </hgroup>
            <p>
                The statement Wareshouse API, provide exposure to data and services through the web directly over HTTP.
            </p>
       
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>This API provide exposure to the following:</h3>
        <ol class="round">
            <li class="one">
                <h5>Member Account Profile</h5>
                The member acccounts methods allows provide accounts validation,lookup services and generate profile Information.
             </li>

            <li class="two">
                <h5>Broker Information</h5>
                Access to Broker Information
            </li>
            <li class="three">
                <h5>Instruments Information</h5>
                Provide access to instrument information
             </li>
                 <li class="four">
                <h5>Statement Information</h5>
                Provide access to historical statment information.
             </li>
        </ol>
    </section>
</div>
